body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Epilogue";
  src: url(./fonts/Epilogue-Regular.ttf) format("truetype");
  font-style: normal;
}
